<a href="https://colab.research.google.com/github/ANURADHA123-SINGH/python-programs/blob/main/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q) Write a code to ask the user its name and age and then print it.
# use= input("Enter your name:")
# age= input("Enter your age:")
# print(use)
# print(age)

# Compount interest
# P=int(input("Principle:"))
# r=int(input("Rate:"))
# n=int(input("Time:"))
# CI= P*((1+r/100)**n)-P
# print(CI)



age=91
if(age>1 and age<=17):
  print("minor")
elif(age>=18 and age<100):
  print("Eligible")
else:
   print("Invalid")

Eligible

In [ ]:
# Here's another question based on conditional logic:
# Write a Python program that asks the user for a temperature in Celsius and prints whether it's below freezing (0°C), freezing, or above freezing.
temp = 0
if(temp >= 0 ):
  print("Freezing")
else:
  print("above freezing")

Freezing

In [ ]:
# Here's a harder question:
# Write a Python program that takes a year as input and determines if it's a leap year. Remember the rules for leap years!
year=int(input("Enter the year"))
if(year%4==0):
  print("Leap year")
else:
  print("Not a leap year")

Enter the year2019
Not a leap year

In [ ]:
# Here's a formula-based question:
# Write a Python program that calculates the area of a circle.
# Ask the user for the radius and use the formula: Area = π * r² (where π is approximately 3.14159)
r=int(input("Enter the radius:"))
area=3.14*r**2
print(area)

Enter the radius:5
78.5

In [ ]:
# Write a Python program that asks the user to enter three numbers and then prints the largest of the three numbers.
a= int(input("Enter Number a:"))
b=int(input("Enter Number b:"))
c=int(input("Enter Number c:"))
if(a>b and a>c):
  print("largest number is a:")
elif(b>a and b>c):
  print("largest number is b:")
elif(c>a and c>b):
  print("largest number is c")
else:
  print("Invalid")

Enter Number a:28
Enter Number b:56
Enter Number c:67
largest number is c

In [ ]:
# find the number is even or odd
n= int(input("Enter the number"))
if n%2==0:
  print("Number is even")
else:
  print("NUmber is odd")

Enter the number7
NUmber is odd

In [ ]:
# find if the number is +ve or -ve tell me if it is even or odd
num=int(input("Enter the number"))
if num%2==0:
  print("Number is even")
  if num>0:
    print("Number is +ve")
  else:
    print("Number is -ve")
else:
   print("number is odd")

Enter the number6
Number is even
Number is +ve

In [ ]:
marks = 82

if marks < 100:
  if marks < 60:
    print('F')
  elif marks < 70:
    print('D')
  elif marks < 80:
    print('C')
  elif marks < 90:
    print('B')
  elif marks < 100:
    print('A')
else:
  print('Invalid')

B

In [ ]:
# find if the number is divisible by 3 and 5 and 7

num=105
if num%3==0:
  if num%5==0 :
    if num%7==0:
      print("Divisible by 3,5,7")
    else:
      print("Divisible by 3 and 5")
  else:
    print("Divisible  by 3 only")
elif num%5==0:
  if num%7==0:
    print("Divisible by 5 and 7")
  else:
    print("Divisible by 5 only")

elif num%7==0:
  if num%3==0:
    print("Divisible by 7 and 3")
  else:
    print("Divisible by 7 only")
else:
  print("divisible by none")

Divisible by 3,5,7

In [ ]:
marks=int(input("Enter your marks"))
if 100<marks>90:
  print("Grade A")
  if 90<marks>80 :
    print("Grade B")
    if 80<marks>70:
      print("Grade C")
      if 70<marks>60:
        print("Grade D")
      else:
        print("Grade F")
  else:
    print("Invalid")

Enter your marks67

In [ ]:
'''from __future__ import division
from re import sub
# Create a simple calculator
number= 45+50
print(number)

substraction= 90-40
print(substraction)

mult = 90*6
print(mult)

division =  135/9
print(division)
'''

# using conditions


num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
op =input('+,-,*,/:')

if op =='+':
  print(num1+num2)

elif op=='-':
  print(num1-num2)

elif op=='*':
  print(num1*num2)

elif op=='/':
  if num2 > 0:
    print(num1/num2)
else:
  print("Invalid")

Enter num1:69
Enter num2:90
+,-,*,/:*
6210

In [ ]:
salary = 99000
year_of_exp= 12
rating = 4.7
bonus = 0

if rating>4:
  if year_of_exp >10:
    bonus=30
  elif year_of_exp<10:
    bonus =20
  elif year_of_exp<5:
    bonus =10
elif rating<4 :
  if year_of_exp >10:
    bonus = 10
  elif year_of_exp <10:
    bonus = 5
new_salary = (salary*bonus)/100
print(f"your original salary was(salary)bonus%{bonus},new salary is{new_salary}")

your original salary was(salary)bonus%30,new salary is29700.0

# Here are some more questions involving user input and conditional logic:

In [ ]:
# Question: Write a Python program that asks the user for their favorite color and prints a different message based on the color. For example, if they enter "blue", print "Blue is a calm color."

color= input('Blue,Red,White,Green:')
if color=='Blue':
  print("Blue is calm color")
elif color=='Red':
  print('Red is a dengrous color')
elif color =='White':
  print("White is a peaceful color")
elif color=='Green':
  print("Green is a happiness color")
else:
  print("Invalid color")

Blue,Red,White,Green:White
White is a peaceful color

In [ ]:
# Question: Write a Python program that asks the user for a number and checks if it's positive, negative, or zero.
num=int(input("Enter the number"))
if num == 0:
  print("Zero")
elif num>0:
  print("Positive")
elif num<0:
  print("Negative")
else:
  print("Invalid Number")

Enter the number-8
Negative

In [ ]:
# Question: Write a Python program that asks the user for two numbers and prints whether the first number is greater than, less than, or equal to the second number.

num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))
if num1> num2:
  print("num1 is greater than num2")
elif num1==num2:
  print("num1 is equal to num2")
elif num1<num2:
  print("num1 is less than num2")
else:
  print("Not defiend")

Enter num1:34
Enter num2:23
num1 is greater than num2

In [ ]:
# Question: Write a Python program that asks the user for their age and prints whether they are a child (under 13), a teenager (13-19), or an adult (20 or older).

age=int(input("Enter your age"))
if age<13:
  print("Child")
elif age<13 and age<19:
  print("Teenager")
elif age>20:
  print("Older")
else:
  print("Adult")

Enter your age45
Older

In [ ]:
n= 10
for i in range(1,11):
  print(f"{n}x{i}={n*i}")

10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [ ]:
n=10
for i in range(10,0,-1):
  print(f"{n}x{i}={n*i}")

10x10=100
10x9=90
10x8=80
10x7=70
10x6=60
10x5=50
10x4=40
10x3=30
10x2=20
10x1=10

In [ ]:
num=10
for i in range(num*10,num-1,-num):
  print(i)

100
90
80
70
60
50
40
30
20
10

In [ ]:
# find number between 1 and 201 which are divisible by 3 and 5 both
for i in range (1,202):
  if i%3==0 :
    if i%5==0:
      print(i)

15
30
45
60
75
90
105
120
135
150
165
180
195

In [ ]:
# find count of number between 1 and 10000 which are divisible by 3,5 and 7
count=0
for i in range(1,10001):
  if (i%3==0) and (i%5 ==0) and (i%7==0):
    count=count+1
print(count)

95

In [ ]:
# find the sum of first n numbers
n = int(input("Enter the n"))
sum= 0
for i in range(1, n+1):
 sum=sum+i
print(sum)

Enter the n23
276

In [ ]:
n= int(input("Enter the n"))
count=0
sum=0
for i in range(1,10001):
  if i%3==0 and i%5==0 and i%11==0:
    count=i
    sum+=i
  if count==10:
      break
print(sum,count)

In [ ]:
# find number of vowel in word"PythonClassroom"
count = 0
vowel='a,e,i,o,u'
for i in 'PythonClassroom':
  if i in vowel:
    count+= 1
print(count)

4

In [ ]:
# pattern Printing

n= 5
for i in range(1,n+1):
  print(i*"*")

*
**
***
****
*****

In [ ]:
n=6
for i in range(n,0,-1):
  print(i*"*")

******
*****
****
***
**
*

In [ ]:
n=5
for i in range(1,n+1):
    print(i*str(i))

1
22
333
4444
55555

In [ ]:
num=5
for i in range(1,n+1):
  print(n*" * ")

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [ ]:
num=5
for i in range(1,n+1):
    print(" "*(n-i), end="")
    print("*"* (2*i-1), end="")
    print(" ")

    *
   ***
  *****
 *******
*********

In [ ]:
n=5
print("* "*n)
for i in range(1,n-1):
  print("*"+"   "*(n-2)+" *")
print("* "*n)

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [ ]:
n=5
print("*")
for i in range(1,n-1):
  print("*"+"  "*(i-1)+" *")
print("* "*n)

*
* *
*   *
*     *
* * * * *

In [ ]:

n=5
for i in range(1,n+1):
  print(i*"*")

for i in range(n,0,-1):
  print(i*"*")

*
**
***
****
*****
*****
****
***
**
*

In [ ]:
n=5
for i in range(1,n+1):
  print(" "*(n-i)+"*"*i)

for i in range(0,n):
  print(" "*(i)+"*"*(n-i))

    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *

In [ ]:
# Question: Write a Python program to print the following pattern:
# 54321
# 5432
# 543
# 54
# 5
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end="")
  print("")

54321
4321
321
21
1

In [ ]:

# Question: Write a Python program to print the following pattern:
# 1
# 12
# 123
# 1234


n=4
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end="")
  print(" ")

1
12
123
1234

In [ ]:
# Question: Write a Python program to print the following pattern:
# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *

n=5
for i in range(1,n):
  print(i*"*")
for i in range(n,0,-1):
  print(i*"*")

*
**
***
****
*****
****
***
**
*